@{
    ViewData["Title"] = "Home Page";
}


<section class="about-section-three space pb-0 m-0">
    <div class="container-style1">
        <div class="title-area text-center">
            <span class="sub-title two">Welcome to E-Quran</span>
            <h2 class="sec-title">Know The Real History of <br>Islam</h2>
        </div>
        <div class="row about3">
            <div class="col-xl-6 col-lg-12 col-12">
                <div class="about-img-three">
                    <img src="~/about3-1.jpg" alt="" class="rounded">
                    <img src="~/about3-2.jpg" alt="" class="rounded">
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-12">
                <div class="about-content-two">
                    <h6 class="title">History</h6>
                    <p class="text about3">
                        The history of Islam concerns the political, social, economic, military, and cultural developments of the Islamic civilization. Most historians believe that Islam originated with Muhammad's mission in Mecca and Medina at the start of the 7th century AD, although Muslims regard this time as a return to the original faith passed down by the Abrahamic prophets, such as Adam, Noah, Abraham, Moses, David, Solomon, and Jesus, with the submission (Islām) to the will of God.
                    </p>
                    <div class="list-box">
                        <ul class="about-list-three">
                            <li>Charity EventsSchooling Children</li>
                            <li>Astonishing Facilities</li>
                            <li>Helping CommunitiesLeads</li>
                            <li>Feeding Hungry People</li>
                        </ul>
                        <div class="about-img">
                            <img src="~/about3-3.jpg" alt="" width="300" class="rounded">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End abou-section -->
<!-- about-section -->
<section class="about-section-two space pb-0">
    <div class="container-style1">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12">
                <div class="about-content-two">
                    <h6 class="title">Who We Are</h6>
                    <p class="text">
                        W-Quran is your one-stop for your online Quran education needs and one of the leading online Quran academies in Western countries like the USA, UK, Canada, and Australia. Our team of qualified and experienced Quran teachers has more than 12 years of experience in teaching the Quran online.
                    </p>
                    <p>
                        e cater to learners of all ages and backgrounds, offering a range of specialized Quran, Islam, and Arabic courses designed to meet the unique needs of kids, adults, and females
                    </p>
                    <div class="about-auther">
                        <img src="~/mabout2-1.png" alt="" class="image" height="130" width="130">
                        <div class="auther-content">
                            <h4 class="name">Aneeb Hassan</h4>
                            <span class="designation">Director and Manager</span>
                        </div>
                        <img src="~/signature.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-img-two">
                    <img src="~/about2-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about-section -->
<!-- pricing-section -->
<section class="pricing-section space">
    <div class="container-style1">
        <div class="title-area text-center">
            <span class="sub-title two">Pricing Courses</span>
            <h2 class="sec-title">Find the Right Course.</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="pricing-box">
                    <div class="price-box">
                        <span class="price-title">Basic Quranic Learning</span>
                        <small>Suitable for beginners</small>
                        <h4 class="title">$40.00<span>/mo</span></h4>
                    </div>
                    <div class="price-list-box">
                        <ul class="price-list">
                            <li><i class="fa fa-check"></i>Duration: 3 months</li>
                            <li>
                                <i class="fa fa-check"></i>Weekly one-on-one sessions.
                            </li>
                            <li><i class="fa fa-check"></i>Access to online resources</li>
                        </ul>
                        <a href="#" class="btn-style1">Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="pricing-box">
                    <div class="price-box">
                        <span class="price-title">Intermediate Quranic Studies</span>
                        <small>For learners with basic Quranic</small>
                        <h4 class="title">$90.00<span>/mo</span></h4>
                    </div>
                    <div class="price-list-box">
                        <ul class="price-list">
                            <li><i class="fa fa-check"></i>Duration: 6 months</li>
                            <li><i class="fa fa-check"></i>Focuses on Tajweed</li>
                            <li><i class="fa fa-check"></i>Weekly personalized sessions </li>
                        </ul>
                        <a href="#" class="btn-style1">Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="pricing-box">
                    <div class="price-box">
                        <span class="price-title">Family Quran Study</span>
                        <small>Ideal for families wanting to learn together</small>
                        <h4 class="title">$140.00<span>/mo</span></h4>
                    </div>
                    <div class="price-list-box">
                        <ul class="price-list">
                            <li><i class="fa fa-check"></i>Duration: 6 months</li>
                            <li><i class="fa fa-check"></i>Parental involvement</li>
                            <li><i class="fa fa-check"></i>Group sessions with interactive activities</li>
                        </ul>
                        <a href="#" class="btn-style1">Purchase Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End pricing-section -->
<!-- form-section -->
<section class="main-section-two">
    <img src="~/form1-1.jpg" alt="">
    <div class="form-section">
        <div class="container-style1">
            <div class="form-box" style="background-image: url('/form1-2.jpg')";>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="form-content">
                            <span class="sub-title">QURANIC VERSES WITH TRANSLATION</span>
                            <h2 class="title">Islamic ayat with <span>translation</span></h2>
                            <img src="~/ayat.png" alt="" srcset="">
                            <p>O you who  have believed, Seek help through patience and prayers.</p>
                            <ul class="form-list">
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="form-info">
                            <!-- <form action="#" class="subscribe-form1 v6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter your email address...">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter your email address...">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter your email address...">
                                </div>
                                <div class="form-group">
                                    <textarea placeholder="Your Motive"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn-style1 v3" type="submit">Let's Talk</button>
                                </div>
                            </form> -->
                            <img src="~/ayat.png" alt="" srcset="">
                            <img src="~/man.png" alt="" srcset="" style="object-fit: contain;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End form-section -->

<section class="showcase-section space">
    <div class="container">
        <div class="title-area">
            <span class="sub-title">ISLAMIC CLASSES AND COURSES</span>
            <h2 class="sec-title">Pillars of Islam</h2>
        </div>
        <div class="flex-container wow slideInUp">
            <div class="flex-slide accessories">
                <h2 class="title">Faith</h2>
                <div class="flex-content">
                    <a href="javascript:void(0)" title="" class="btn-zoom"><img src="/pillars-name-1.png" alt="" srcset=""></a>
                </div>
                <h3 class="subtitle">Shahadah</h3>
            </div>
            <div class="flex-slide fashion">
                <h2 class="title">Prayer</h2>
                <div class="flex-content">
                    <a href="javascript:void(0)" title="" class="btn-zoom"><img src="/pillars-name-2.png" alt="" srcset=""></a>
                </div>
                <h3 class="subtitle">Salah</h3>
            </div>
            <div class="flex-slide sneekers">
                <h2 class="title">Fasting</h2>
                <div class="flex-content">
                    <a href="javascript:void(0)" title="" class="btn-zoom"><img src="/pillars-name-3.png" alt="" srcset=""></a>
                </div>
                <h3 class="subtitle">Sawm</h3>
            </div>
            <div class="flex-slide blazer">
                <h2 class="title">Almsgiving</h2>
                <div class="flex-content">
                    <a href="javascript:void(0)" title="" class="btn-zoom"><img src="/pillars-name-4.png" alt="" srcset=""></a>
                </div>
                <h3 class="subtitle">Zakat</h3>
            </div>
            <div class="flex-slide hajj">
                <h2 class="title">Pilgrimage</h2>
                <div class="flex-content">
                    <a href="javascript:void(0)" title="" class="btn-zoom"><img src="/pillars-name-5.png" alt="" srcset=""></a>
                </div>
                <h3 class="subtitle">Hajj</h3>
            </div>
        </div>
    </div>
</section>



<!-- client-section -->
<section class="client-section space-md-top space-md-bottom">
    <div class='marquee2' data-duration='5000' data-gap='10' data-duplicated='true'>
        <div>Fajar</div>
        <div>Zuhr</div>
        <div>Asr</div>
        <div>Magrib</div>
        <div>Isha</div>
    </div>
</section>
<!-- End client-section -->
<!-- testimnial-section -->
<section class="testmonial-section space">
    <div class="container-style1">
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="testi-content">
                    <div class="title-area">
                        <h2 class="sec-title">Serving the community, <br>working in partnership about creatino</h2>
                    </div>
                    <div class="testi-slider2">
                        <div class="testi-slide2 current" id="slide1">
                            <p>We believe that our primary role is to serve the needs of the local community</p>
                            <div class="testi-auther">
                                <!-- <img src="assets/img/testimonial/comas.svg" alt=""> -->
                                <!-- <div class="testi-auther-content">
                                    <h6 class="name">Roseline Ilioni</h6>
                                    <span class="designation">Creative Designer</span>
                                </div> -->
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="testi-img">
                    <ul>
                        <li class="current" data-tab="slide1">
                            <img src="/join-our-1.jpg" alt="" style="object-fit: contain;" />
                        </li>
                        <li data-tab="slide2">
                            <img src="/join-our-2.jpg" alt="" style="object-fit: contain;" />
                        </li>
                        <li data-tab="slide3">
                            <img src="/join-our-3.jpg" alt="" style="object-fit: contain;" />
                        </li>
                        <li data-tab="slide4">
                            <img src="/join-our-4.jpg" alt="" style="object-fit: contain;" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End testmonial-section -->
<!-- banner-content -->
<section class="banner-contact">
    <div class="container-style1">
        <div class="banner-box" style="background-image: url('/banner1-1.jpg');">
            <div class="row">
                <div class="col-xl-7 col-lg-12 col-12">
                    <div class="banner-contact-content">
                        <h2 class="title">LET'S WORK TOGETHER</h2>
                        <span>WE WOULD LOVE TO HEAR FROM YOU.</span>
                        <a href="mailto:example@example.com" class="contact-btn">equran@support.com</a>
                    </div>
                </div>
                <div class="col-lg-5 col-12">
                    <div class="banner-contact-img">
                        <img src="/contact.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner-content -->
<!-- brand-section -->
<section class="brand-section space-bottom">
    <div class="container-style1">
        <div class="brand-title text-center">
            <span>Partnerships imply a close bond between entities</span>
        </div>
        <div class="row vs-carousel" data-slide-show="4" data-lg-slide-show="4" data-md-slide-show="3" data-sm-slide-show="2" data-xs-slide-show="1">
            <div class="col-lg-3 col-12">
                <div class="brand-box" style="background-image: url('/color-bg.jpg');">
                    <div class="d-flex flex-column justify-content-center align-items-center pt-4">
                        <h5 class="text-white">Islamic Mosque</h5>
                        <img src="/fun-facts-1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="brand-box" style="background-image: url('/color-bg.jpg');">
                    <div class="d-flex flex-column justify-content-center align-items-center pt-4">
                        <h5 class="text-white">Learning Students</h5>
                        <img src="/fun-facts-2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="brand-box" style="background-image: url('/color-bg.jpg');">
                    <div class="d-flex flex-column justify-content-center align-items-center pt-4">
                        <h5 class="text-white">Inspirational Courses</h5>
                        <img src="/fun-facts-3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-12">
                <div class="brand-box" style="background-image: url('/color-bg.jpg');">
                    <div class="d-flex flex-column justify-content-center align-items-center pt-4">
                        <h5 class="text-white">Islamic Scholars</h5>
                        <img src="/fun-facts-4.png" alt="">
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- End brand-section -->
