
@{
    ViewData["Title"] = "Services";
}

<!-- service-style4 -->
<section class="service-style4 two space">
    <div class="container-style1">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ser-box4">
                    <div class="ser-icon4" style="filter: none !important;">
                        <img src="~/tajweed.jpeg" alt="" class="rounded-circle" style="height: 20vh;
                            object-fit: fill;">
                    </div>
                    <div class="ser-content4">
                        <h4 class="title">Quran Recitation and Tajweed Classes</h4>
                        <p>
                            Master the art of Quranic recitation with precision and excellence through our Quran Recitation and Tajweed Classes. Our experienced instructors provide personalized guidance to ensure fluency, clarity, and adherence to Tajweed principles.
                        </p>
                        <a href="service.html" class="link-btn ser4">
                            Read More<i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ser-box4 center">
                    <div class="ser-icon4">
                        <img src="~/tafsir.jpeg" alt="" class="rounded-circle" style="height: 20vh;
                            object-fit: fill;width: 9rem;">
                    </div>
                    <div class="ser-content4">
                        <h4 class="title">Tafsir (Exegesis) Workshops</h4>
                        <p>
                            Deepen your understanding of the Quran with our Tafsir (Exegesis) Workshops. Explore the profound meanings and insights of the Quranic verses through interactive sessions led by knowledgeable scholars, fostering a deeper connection to the divine message.
                        </p>
                        <a asp-controller="Home" asp-action="Services" class="link-btn ser4">
                            Read More<i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ser-box4">
                    <div class="ser-icon4">
                        <img src="~/guide.jpeg" alt="" class="rounded-circle" style="height: 20vh;
                            object-fit: fill;width: 9rem;">
                    </div>
                    <div class="ser-content4">
                        <h4 class="title">
                            Quranic and Spiritual Guidance Sessions
                        </h4>
                        <p>
                            Immerse yourself in Quranic wisdom and spiritual enlightenment through our Quranic and Spiritual Guidance Sessions. Engage in introspective discussions, and personalized counseling, nurturing a profound connection to the Quran and its timeless teachings.
                        </p>
                        <a asp-controller="Home" asp-action="Services" class="link-btn ser4">
                            Read More<i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ser-box4">
                    <div class="ser-icon4">
                        <img src="~/hifz.jpeg" alt="" class="rounded-circle" style="height: 20vh;
                            object-fit: fill;width: 10rem;">
                    </div>
                    <div class="ser-content4">
                        <h4 class="title">
                            Quran Memorization (Hifz) Program
                        </h4>
                        <p>
                            Embark on a transformative journey of Quran memorization with our Hifz Program. Guided by experienced instructors and supported by personalized study plans, students of all ages can achieve the noble goal of committing the Quran to memory, fostering a deep spiritual connection and a lifelong bond with the sacred text.
                        </p>
                        <a asp-controller="Home" asp-action="Services" class="link-btn ser4">
                            Read More<i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ser-box4 center">
                    <div class="ser-icon4">
                        <img src="~/learn.jpeg" alt="" class="rounded-circle" style="height: 20vh;
                            object-fit: fill;width: 9rem;">
                    </div>
                    <div class="ser-content4">
                        <h4 class="title">
                            Quranic Arabic Language Instruction
                        </h4>
                        <p>
                            Unlock the beauty and depth of the Quran through our Quranic Arabic Language Instruction. Tailored for learners of all levels, our courses delve into the fundamentals of Arabic grammar, vocabulary, and syntax, and appreciate the Quran in its original language, fostering a deeper connection to its profound teachings.
                        </p>
                        <a asp-controller="Home" asp-action="Services" class="link-btn ser4">
                            Read More<i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="ser-box4">
                    <div class="ser-icon4">
                        <img src="~/comunity.jpg" alt="" class="rounded-circle" style="height: 20vh;
                            object-fit: fill;width: 9rem;">
                    </div>
                    <div class="ser-content4">
                        <h4 class="title">Community Quranic Study Groups </h4>
                        <p>
                            Join our vibrant Community Quranic Study Groups, where seekers of knowledge come together to explore the depths of the Quran in a supportive and collaborative environment. Led by knowledgeable facilitators, these groups offer an opportunity for shared learning, discussion, and reflection.
                        </p>
                        <a asp-controller="Home" asp-action="Services" class="link-btn ser4">
                            Read More<i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End service-style -->
<!-- pricing-section -->
<section class="pricing-section space">
    <div class="container-style1">
        <div class="title-area text-center">
            <span class="sub-title two">Pricing Courses</span>
            <h2 class="sec-title">Find the Right Course.</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="pricing-box">
                    <div class="price-box">
                        <span class="price-title">Basic Quranic Learning</span>
                        <small>Suitable for beginners</small>
                        <h4 class="title">$40.00<span>/mo</span></h4>
                    </div>
                    <div class="price-list-box">
                        <ul class="price-list">
                            <li><i class="fa fa-check"></i>Duration: 3 months</li>
                            <li>
                                <i class="fa fa-check"></i>Weekly one-on-one sessions.
                            </li>
                            <li><i class="fa fa-check"></i>Access to online resources</li>
                        </ul>
                        <a href="#" class="btn-style1">Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="pricing-box">
                    <div class="price-box">
                        <span class="price-title">Intermediate Quranic Studies</span>
                        <small>For learners with basic Quranic</small>
                        <h4 class="title">$90.00<span>/mo</span></h4>
                    </div>
                    <div class="price-list-box">
                        <ul class="price-list">
                            <li><i class="fa fa-check"></i>Duration: 6 months</li>
                            <li><i class="fa fa-check"></i>Focuses on Tajweed</li>
                            <li><i class="fa fa-check"></i>Weekly personalized sessions </li>
                        </ul>
                        <a href="#" class="btn-style1">Purchase Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="pricing-box">
                    <div class="price-box">
                        <span class="price-title">Family Quran Study</span>
                        <small>Ideal for families wanting to learn together</small>
                        <h4 class="title">$140.00<span>/mo</span></h4>
                    </div>
                    <div class="price-list-box">
                        <ul class="price-list">
                            <li><i class="fa fa-check"></i>Duration: 6 months</li>
                            <li><i class="fa fa-check"></i>Parental involvement</li>
                            <li><i class="fa fa-check"></i>Group sessions with interactive activities</li>
                        </ul>
                        <a href="#" class="btn-style1">Purchase Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End pricing-section -->